body {
    background-color: aqua;
}

.form .container input:focus,
.form .container textarea:focus,
#search {
    border-color: aqua !important;
    box-shadow: 0 0 0 0.25rem rgb(55, 225, 225);
}

#name {
    background-color: rgb(255, 251, 0);
}

#update {
    display: none;
}